[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
scikit-learn = "*"
joblib = "*"
tensorflow = "*"
requests = "*"
openpyxl = "*"
geopandas = "*"
shapely = "*"
deap = "*"
plotly = "*"
matplotlib = "*"
cartopy = "*"
PyWavelets = "*"
streamlit = "*"

[dev-packages]

[requires]
python_version = "3.11"

[pipenv]
